@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
    var rolename = Context.User.Identity.Name;
    var isAuthenticated = Context.User.Identity.IsAuthenticated;
    var Admin = false;
    var Member = false;
    var Guide = false;

    if (isAuthenticated)
    {
        var user = await UserManager.GetUserAsync(Context.User);
        Admin = await UserManager.IsInRoleAsync(user, "Admin");
        Member = await UserManager.IsInRoleAsync(user, "Member");
        Guide = await UserManager.IsInRoleAsync(user, "Guide");
    }
}

<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
            <h1>
                <a class="navbar-brand mr-lg-5" href="/Default/Index/">
                    Traversal
                </a>
            </h1>
            <!-- if logo is image enable this
            <a class="navbar-brand" href="#index.html">
                <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
            </a> -->
            <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" onclick="activateMenu(this)" href="/Default/Index/">Anasayfa <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="activateMenu(this)" href="/About/Index/">Hakkımızda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="activateMenu(this)" href="/Destination/Index/">Rotalar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="activateMenu(this)" href="/Guide/Index/">Rehberlerimiz</a>
                    </li>
                    @* <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Blog<span class="fa fa-angle-down"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                    <a class="dropdown-item" href="blog.html">Blog Posts</a>
                    <a class="dropdown-item" href="blog-single.html">Blog single</a>
                    <a class="dropdown-item" href="landing-single.html">Landing Page</a>
                    </div>
                    </li> *@
                    <li class="nav-item">
                        <a class="nav-link" onclick="activateMenu(this)" href="/Contact/Index/">İletişim</a>
                    </li>
                </ul>
            </div>

            @if (!string.IsNullOrEmpty(rolename))
            {
                if (Admin)
                {
                    <div class="d-lg-block d-none" style="margin-left:3px;">
                        <a href="/Member/Dashboard/Index/" class="btn btn-style btn-secondary" style="padding:0px 10px;">Üye Paneli</a>
                    </div>
                    <div class="d-lg-block d-none" style="margin-left:3px;">
                        <a href="/Guides/Dashboard/Index/" class="btn btn-style btn-secondary" style="padding:0px 5px;">Rehber Paneli</a>
                    </div>
                    <div class="d-lg-block d-none" style="margin-left:3px;">
                        <a href="/Admin/Dashboard/Index/" class="btn btn-style btn-secondary" style="padding:0px 5px;">Admin Paneli</a>
                    </div>
                    <div class="d-lg-block d-none" style="margin-left:3px;">
                        <form id="logoutForm" method="post" action="/Login/Logout">
                            <button type="submit" class="btn btn-style btn-secondary" style="padding:0px 5px;">Logout</button>
                        </form>
                    </div>
                }
                else if (Member)
                {
                    <div class="d-lg-block d-none">
                        <a href="/Member/Reservation/NewReservation/" class="btn btn-style btn-secondary" style="padding:0px 10px;">Rezervasyon Yap</a>
                    </div>
                    <div class="d-lg-block d-none" style="margin-left:3px;">
                        <a href="/Member/Dashboard/Index/" class="btn btn-style btn-secondary" style="padding:0px 10px;">Üye Paneli</a>
                    </div>
                    <div class="d-lg-block d-none" style="margin-left:3px;">
                        <form id="logoutForm" method="post" action="/Login/Logout">
                            <button type="submit" class="btn btn-style btn-secondary" style="padding:0px 10px;">Logout</button>
                        </form>
                    </div>
                }
                else if (Guide)
                {
                    <div class="d-lg-block d-none" style="margin-left:3px;">
                        <a href="/Guides/Dashboard/Index/" class="btn btn-style btn-secondary" style="padding:0px 10px;">Rehber Paneli</a>
                    </div>
                    <div class="d-lg-block d-none" style="margin-left:3px;">
                        <form id="logoutForm" method="post" action="/Login/Logout">
                            <button type="submit" class="btn btn-style btn-secondary" style="padding:0px 10px;">Logout</button>
                        </form>
                    </div>
                }
                else
                {
                    <div class="d-lg-block d-none">
                        <a href="/Login/Singin/" class="btn btn-style btn-secondary" style="padding:0px 10px;">Rezervasyon Yap</a>
                    </div>
                    <div><p>Rol Atamanız yok</p></div>
                }
            }
            else
            {
                <div class="d-lg-block d-none">
                    <a href="/Login/Singin/" class="btn btn-style btn-secondary" style="padding:0px 10px;">Rezervasyon Yap</a>
                </div>
                <div class="d-lg-block d-none" style="margin-left:3px;">
                    <a href="/Login/Singin/" class="btn btn-style btn-secondary" style="padding:0px 10px;">Singin/Login</a>
                </div>
            }
            <!-- toggle switch for light and dark theme -->
            <div class="mobile-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>

<script>
    $(document).ready(function () {
        $('#logoutForm').submit(function (e) {
            e.preventDefault();
            $.post($(this).attr('action'), $(this).serialize(), function () {
                window.location.href = "/";
            });
        });
    });
</script>