@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <h2 class="card-header">Pdf Raporları Sayfası</h2>
    <div class="card-body">
        <a href="/PdfReport/StaticPdfReport/" class="btn btn-outline-primary">Statik Pdf Raporu</a>
        <br />
        <a href="/PdfReport/StaticCustomerPdfReport/" class="btn btn-outline-info">Statik Misafir Raporu</a>
    </div>
</div>