@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <h1 class="card-header">Exel Raporları Sayfası</h1>
    <div class="card-body">
        <a href="/Exel/StaticExelReport/" class="btn btn-outline-info">Statik exel raporu</a>
        <br />
        <a href="/Exel/DestinationExelReport/" class="btn btn-outline-primary">Tur Rotaları exel raporu</a>
    </div>
</div>