<div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="heading-multiple-thumbnails">Profil Bilgileri Ve İstatistik</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
        </div>
        <div class="card-content">
            <div class="card-body">
                <h4 class="card-title">İstatistik</h4>
                <p class="card-text">Aktif rezervasyon sayısı: <b>4</b></p>
                <p class="card-text">Onay bekleyen rezervasyon sayısı: <b>2</b></p>
                <p class="card-text">Geçmiş rezervasyon sayısı: <b>1</b></p>
                <p class="card-text">Aktif rota sayısı: <b>16</b></p>
                <h4 class="card-title">Profil Bilgileri</h4>
                <p class="card-text"><b>Gmail:</b> oguzhmollamehmetogulu@gmail.com</p>
                <p class="card-text"><b>Tel:</b> +90 0 539 859 18 61</p>
                <p class="card-text"><b>Adres:</b> mah. soka. cadde. site blok vb...</p>
            </div>
        </div>
    </div>
</div>
