
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">
@await Component.InvokeAsync("_AdminDashboardHeader")
<body>
      <!-- Content -->
      <div class="row">
            @await Component.InvokeAsync("_DashboardBanner")
            @await Component.InvokeAsync("_Card1Staticstic")
            <!-- Total Revenue -->
            @await Component.InvokeAsync("_TotalRevenue")
            <!--/ Total Revenue -->
            @await Component.InvokeAsync("_Card2Staticstic")
      </div>
      <div class="row">
            <!-- Order Statistics -->
            @await Component.InvokeAsync("_DestinationStatistic")
            <!--/ Order Statistics -->
            <!-- Expense Overview -->
            @await Component.InvokeAsync("_DestinationStatistic2")
            <!--/ Expense Overview -->
            <!-- Transactions -->
            @await Component.InvokeAsync("_DashboardGuideList")
            <!--/ Transactions -->
      </div>
      <!-- / Content -->
     <div class="content-backdrop fade"></div>
    <!-- Content wrapper -->
   <!-- Overlay -->
  <div class="layout-overlay layout-menu-toggle"></div>
</body>
</html>