@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow " data-scroll-to-active="true" data-img="~/guides/theme-assets/images/backgrounds/02.jpg">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto">
                <a class="navbar-brand" href="/Default/Index/">
                    <img class="brand-logo" alt="Chameleon admin logo" src="~/sneat-1.0.0/assets/img/favicon/favicon.ico" />
                    <h3 class="brand-text">Traversal</h3>
                </a>
            </li>
            <li class="nav-item d-md-none"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
        </ul>
    </div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item">
                <a href="/Guides/Dashboard/Index/" onclick="activateMenu(this)"><i class="ft-home"></i><span class="menu-title" data-i18n="">@localizer["Dashboard"]</span></a>
            </li>
            <li class=" nav-item">
                <a href="/Guides/Profile/Index/" onclick="activateMenu(this)"><i class="ft-user"></i><span class="menu-title" data-i18n="">@localizer["Profilim"]</span></a>
            </li>
            <li class=" nav-item">
                <a href="/Destination/Index/" onclick="activateMenu(this)"><i class="ft-package"></i><span class="menu-title" data-i18n="">@localizer["Tur Rotaları"]</span></a>
            </li>
            <li class=" nav-item">
                <a href="/Guides/Guide/Index/" onclick="activateMenu(this)"><i class="ft-list"></i><span class="menu-title" data-i18n="">@localizer["İçerik Yönet"]</span></a>
            </li>
        </ul>
    </div>
    <div class="navigation-background"></div>
</div>