@model EntityLayer.Concrete.SocialContact
@{
    ViewData["Title"] = "EditContact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <h1 class="card-header">Social Güncelleme Sayfası</h1>
    <div class="card-body">
        <form method="post">
            @Html.HiddenFor(x => x.SocialContactId)
            <div class="form-group">
                @Html.Label("Url")
                <input type="text" asp-for="Url" class="form-control" />
                <br />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <br />
            <button class="btn btn-outline-primary">Güncelle</button>
        </form>
    </div>
</div>